<ion-header>
  <ion-toolbar>
    <ion-searchbar (ionInput)="doSearch($event)" debounce="1000" placeholder="ค้นหา"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-list>
     <ion-item *ngFor="let p of parkings" (click)="viewParkingDetail(p)">
      <button ion-button block>
          <ion-thumbnail item-left slot="start">
           <img [src]="p.photo" *ngIf="p.photo">
           <img src="../../assets/img/03.jpg" *ngIf="!p.photo">
          </ion-thumbnail>
          <h3>{{p.name}}</h3>
          <p>{{p.distance}}km</p>
          <p>ว่าง{{p.availble}}</p>
          <p *ngIf="!p.availble">เต็มแล้ว</p>
          <p></p>
      </button>
    </ion-item>
  </ion-list> 
</ion-content>
